<div class="jumbotron" style="color: cadetblue;" >
    <img src="" style="align-content: center;"/>
    <h1 class="display-4"  style="text-align: center; ">Grocery App</h1>
    <div class="container" style="text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPpN0eF-yyJwFxutQECCPSQ1aDSM_oyTQtLXl0qWN2HL6hJorz" />
</div>
    <hr class="my-4">
    <p style="text-align: center;font-style: oblique; color: cornflowerblue;">One Stop To all the Happiness</p>
   
  </div>
